.option {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c0e70;
  border-radius: .5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.4s;
}

.option:hover {
  opacity: 1;
}

#optionsContainer .option p {
  margin-bottom: 0;
}

.correct {
  background-color: #0bfc03;
  font-weight: bold;
}

.wrong {
  background-color: #3c0e70;
  opacity: .3;
}

.hide {
  display: none;
}